{% extends "base.html" %}
{% block title%}Order Food{% endblock %}
{% set active_page = "orderfood" %}
{% block content %}

<div class='contents'>
   <form action="#" method="POST">
      {% for row in foods|batch(3) %}
      <div class="row">
         {% for food in row %}
         <!-- create a jumbotron for every food offering -->
         <div class="col-md-5">
            <div class="jumbotron">
               <!-- list all the relevant information -->
               <h1>{{food[0].name}}</h1>
               <ul>
                  <li>Restaurant: {{food[1].name}}</li>
                  <li>Address: {{food[1].address}}</li>
                  <li><input type="checkbox" id="f{{food[0].id}}" name="f{{food[0].id}}" value="{{food[0].id}}"> </li>
               </ul>
            </div>
         </div>
         {% endfor %}
      </div>
      {% endfor %}
      <!-- submit order -->
      <button ttype="submit">Order</button>
   </form>
</div>
{% endblock %}